h1 {
  font-size: 20px;
  display: inline;
text-align: left;
font-family: helvetica;
padding-left: 50px;
position: relative;
top: -66px;
}
h2 {text-align: right
  width: 100px;
    font-size: 14px;
    display: inline;
  font-family: helvetica;
    color: #808080;
  padding-left: 400px;
  position: relative;
  top: -66px;}
  a {
    color: black;
  }
  a:link {
    text-decoration: none;
  }
  p{
    text-align: center;}
h3 {
      font-family: helvetica;
      font-size: 50px;
      padding-left: 180px;
    }
